OUTPUTS/
.github/
.vscode/
colab/
DATA/
Dockerfile
docs/
exports/
nerfstudio.egg-info/
pyproject.toml
scripts/
setup.cfg
tests/
vcpkg/
.prettierrc.js
.readthedocs.yaml
nerfstudio/__pycacher__
nerfstudio/cameras/
nerfstudio/engine/
nerfstudio/exporter/
nerfstudio/utils/
nerfstudio/viewer/
nerfstudio/__init.__.py
nerfstudio/py.typed